<header class="fixed top-0 left-0 right-0">
  <div class="h-12 bg-primary text-white flex items-center px-4">
    <div class="flex flex-grow items-baseline">
      <h1 class="text-xl antialiased tracking-wider">GitFolio</h1>
      <small class="text-gray-500 hover:underline ml-2">v1.0.0</small>
    </div>
    <a href="https://github.com/dnstld/git-portfolio" target="blank" tabindex="3">
      <FaIcon @icon="github" @prefix="fab" class="text-xl" />
    </a>
  </div>
  <div class="h-24 md:h-32 lg:h-44 flex items-center bg-primary-light px-4">
    <FindUser />
  </div>
</header>

<main class="container mx-auto mt-36 md:mt-44 lg:mt-56 p-4">
  {{outlet}}
</main>